/* Common styles */
body {
    font-family: Garamond, serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
}

.navbar-brand {
    color: #fff;
}

/* Home Page Styles */
body.home {
    background-color: #D0ECE7; /* Light Green */
    color: #fff;
}

/* Books Page Styles */
body.books {
    background-color: #fff; /* White */
    color: #333;
}

/* Sports Page Styles*/
body.Sports {
    background-color: #A93226; /* Maroon */
    color: #333;
}
