/* Common styles */
body {
    font-family: Garamond, serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
}

.navbar-brand {
    color: #fff;
}

/* Home Page Styles */
body.Home {
    background-color: #87CEFA; /* Light Blue */
    color: #333;
}

/* About Page Styles */
body.About {
    background-color: #fff; /* White */
    color: #333;
}

/* Sports Page Styles*/
body.Sports {
    background-color: #FFA500; /* Orange */
    color: #fff;
}
