/* Common styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
}

.navbar-brand {
    color: #fff;
}

/* Home Page Styles */
body.home {
    background-color: #87CEFA; /* Light Blue */
    color: #333;
}

/* About Page Styles */
body.about {
    background-color: #fff; /* White */
    color: #333;
}

/* Schedule Page Styles */
body.schedule {
    background-color: #FFA500; /* Orange */
    color: #fff;
}
